.main
{
	background-color:#F6F6F6;
	height:150%;
	width:100%;
	margin:0px;
}
body
{
	margin:0px;
}
#logo
{
	height:100%;
	width:30%;
	float:left;
}
#div1
{
	display:none;
	margin-left:50px;
	margin-top:-30px;
	padding-top:5px;
}
#div2
{
	display:none;
	margin-left:50px;
	margin-top:-30px;
	padding-top:5px;
}
#div3
{
	display:none;
	margin-left:50px;
	margin-top:-30px;
	padding-top:5px;
}
#sp
{
	color:#598090;
}
.header
{
	margin:auto;
	height:10%;
	width:80%;
	background-color:white;
	
}
#hr1
{
	float:left;width:5%;
}
#headsp
{
	color:red;float:left;
}
#hr2
{
	width:60%;float:left;
}
#dd
{
	padding-left:10px;color:#598090;
}
#ul3,#ul4,#ulgg
{
	list-style-type:none;
	display:inline-block;
	
	
}
input
{
	border: solid 1px #00a8e6;
}
select
{
	border: solid 1px #00a8e6;
}
textarea
{
	border: solid 1px #00a8e6;
}
#sub
{
	margin-left:270px;
}
#star
{
		color:red;
}
#ul3
{
	padding-left:100px;
}
#ul3 li{
	margin-top:8px;
}

#ul3 li,#ul4 li{
     padding-top:5px;
     
	font-size:12px;
	color:#598090;
	text-align:right;
}
#div1ul li
{
	display:inline-block;
	list-style-type:none;
	font-size:12px;
	color:#598090;
	text-align:right;
}

#ul7
{
	padding-left:20px;
	margin-top:60px;
}

#ul7,#ul8
{
	display:inline-block;
	list-style-type:none;
	color:#598090;
	font-size:12px;
	text-align:right;
	/*padding-bottom:5px;*/
	
	

} 
#ul7 li,#ul8 li
{
	padding:5px;
	
}
#ul9
{
	margin-left:180px;
}
#ul9 li
{
	display:inline-block;
	list-style-type:none;

}
#ul8 li
{
	display:inline-block;
}
#ul4 li
{
	margin-top:5px;
}
#ul5
{
	padding-left:110px;
}
#ul6 li
{
	display:inline-block;
}
#ul5,#ul6
{
	list-style-type:none;
	display:inline-block;
	
	
}
#ul5 li,#ul6 li{
     padding-top:5px;
     
	font-size:12px;
	color:#598090;
	text-align:right;
}

.section
{
	margin:auto;
	/*height:80%;*/
	height:auto;
	width:80%;
	background-color:#e6e7e8;
}
.sec1
{
	margin:auto;
	height:90%;
	width:96%;
	
	margin-left:20px;
	background-color:white;
	border-bottom: solid 0.5px #00a8e6;
	border-left: solid 0.5px  #00a8e6;
	border-right:solid 0.5px #00a8e6;
}
span
{
	color:red;
	font-size:12px;
	
}


#ff
{
	float:right;
	margin-right:300px;
	padding-top:0px;
	margin-top:25px;
}
#mm
{
	float:right;
	margin-right:300px;
	padding-top:0px;
	margin-top:100px;
}
#cc
{
	float:right;
	margin-right:0px;
	padding-top:0px;
	margin-top:25px;
}
/*#ff li
{
	
	list-style-type:none;
}*/
a
{
	text-decoration:none;
	color:#598090;
}
.imge
{
	height:20px;
	width:20px;
}
#ul1{
	float:right;
	margin-top:0px;
}
#ul1 li
{
	display:inline-block;
	
}

#popup_box { 
    display:none; /* Hide the DIV margin-left: 15px;  */
    position:fixed;  
    position:absolute;
    height:118px;  
    width:400px;  
    background:#FFFFFF;  
    left: 300px;
    top: 345px;
   
    
	margin-left:200px;
    background-color:#f7f7f7;
  
   border: solid 4px #00a8e6;     
    padding:15px;  
    font-size:15px;  
   
}



a{  
cursor: pointer;  
text-decoration:none;  
} 

/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}