 #hv:hover{opacity:0.9;}
  .menu
  {
  width:100%;
 /*height:127px;*/
 height:20%;
  background-color:#2B2828;
  }
  
.section
{
height:800px

}
#spcl
{
	 font-family: 'Droid Sans', sans-serif;
	 
	
	
	font-size:large;
	line-height:100px;
	 color:#393030;
}

#subdiv1{
height:150px;
background-color:white;
width:70%;
margin-left:200px;

}
#subdiv2{
height:200px;
background-color:green;
width:20%;

}
#footer
{
background-color:black;
height:80px;

}
#subdiv1,#subdiv2{
display:inline-block;
}
#sec2{
	
background-color:#999;
height:150px;
}
body
{
	margin:0px;
}
.dropbtn {
    background-color: #2B2828;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left:500px;
	
}
.dropdown-content a{
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
	border-bottom:dotted;
	border-width: 1px;
	border-color:white;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
background-color:grey;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
	
}
 #logo
 {
	 height:70px;
	 width:300px;
	 margin-left:200px;
	 padding-top:15px;
 }
 #btn
 {
	 background-color:grey;
	 border:none;
 }
 #search
 {
	 background-color:grey;
	 border:none;
	 font-size:11;
 }
 .dd
 {
	 margin-left:0px;
 }
 #lit
 {
	 font-size:large;
	 font-family: 'Droid Sans', sans-serif;
	 padding-left:200px;
	
	 margin-bottom:10px;
	 line-height:25px;
	 color:#393030;
 }
 #l3
 {
	 color:#D5DBDB;
	 padding-left:540px;
	 text-decoration:none;
	 margin-top:80px;
	 margin-bottom:10px;
 }
 .gg4
{
	list-style-type:none;
	float:right;
	margin-top:10px;
	
}
#list
{
	color:#505050;
	line-height:1;
}
 #ulg
{
	list-style-type:none;
	
	
}
#ulg li{
	display:inline-block;
	padding:10px;
}
 .gg1,.gg2,.gg3
 {
	 display:inline-block;
	 padding:70px;
	 float:left;
	 margin-top:-80px;
 }
 .gg1 li,.gg2 li,.gg3 li
 {
	 font-size:11px;
 }
 
 #ul3
 {
	 margin-left:-100px;
	 text-align:left;
	 
	color:#333;
 }
 
 #figg
 {
	 color:red;
 }
 #tab_img
 {
	 height:100px;
	 width:200px;
	 margin-top:50px;
 }
 #sicon1
 {
	 height:20px;
	 width:20px;
	 margin-left:150px;
 }
 #subbtn
 {
	 background-color:#27E917;border:none;float:right;color:white;
 }
 #sicon2
 {
	 height:20px; 
	 width:20px;
 }
 #itfoot
 {
	 color:grey;
	 font-size:12px;
	 margin-top:2px;
 }
 #log1
 {
	 height:80px; width:150px;margin-top:0px;
 }
 #head1
 {
	 font-size:xx-large;font-family: 'Droid Sans', sans-serif;
 }
 #news
 {
	 color:red;margin-left:300px;
 }
 #marq
 {
	 margin-left:150px;
	 margin-right:150px;
 }
 #writlast
 {
	 font-size:20px;font-weight:bold;
 }
 #l4
 {
	 font-size:12px;
	 color:white;
	 text-transform:uppercase;
	 
 }
 #ul1,#ul2
{
	list-style-type:none;

	
}
#ul1 li{
	display:inline-block;
	padding-left:10px;
	margin:auto;
	margin-right:50px;
}
#ul2 li{
	display:inline-block;
	padding-left:40px;
	
}
 #l5
 {
	 color:#D5DBDB;
	 text-decoration:none;
	 margin-top:170px;
	 padding:5px;
 }
 #l1
 {
	 color:#AAA;
	 text-decoration:none;
	 margin-left:300px;
	 padding-top:0px;
	 font-size:11;
	 padding:5px;"
 }
 #l2
 {
	 color:#AAA;
	 text-decoration:none;
	 font-size:11;
	 padding:3px;
 }