 #hv:hover{opacity:0.9;}
  .menu
  {
  width:100%;
  height:127px;
  background-color:#2B2828;
  }
  
.section
{
height:800px

}
#subdiv1{
height:150px;
background-color:white;
width:70%;
margin-left:200px;

}
#subdiv2{
height:200px;
background-color:green;
width:20%;

}
#footer
{
background-color:black;
height:80px;

}
#subdiv1,#subdiv2{
display:inline-block;
}
#sec2{
background-color:grey;
height:170px;
}
.dropbtn {
    background-color: #2B2828;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left:500px;
	
}
.dropdown-content a{
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
	border-bottom:dotted;
	border-width: 1px;
	border-color:white;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
background-color:grey;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
	
}