.navbar
{
	background-color:#3b5998;
	height:18%;
	
	width:100%;
}
body
{
	margin:0px;
}
#btn
{
	border:none;
	background-color:#104E8B;
}
#ul6
{
	list-style-type:none;
	margin-left:150px;
}
#ul1,#ul2,#ul3,#ul4
{
	list-style-type:none;
	display:inline-block;
	
	
}
.button1{
    background-color:#69a74e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:2.5px;
	width:200px;
}
#ul1
{
	margin-left:200px;
}
#navbox
{
	color:white;
	font-weight: normal;
}
.shift
{
	/*margin-left:50%;*/
	margin-top:0px;
	margin:auto;
}
.main
{
	background-color:#f7f7f7;
	height:500px;
	width:100%;
}
.inputbox{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
	border-color: #bdc7d8;
	
	
}

.inputbox1{
    width: 205%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
	border-color: #bdc7d8;
	margin-top:5px;
	
	
}
.tooltip1 {
    position: relative;
    display: inline-block;
   
}

.tooltip1 .tooltiptext1 {
    visibility:hidden;
    width: 120px;
    background-color: #B22222;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent FireBrick;
}

.tooltip3 {
    position: relative;
    display: inline-block;
   
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 400px;
    background-color: FireBrick;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip3.tooltiptext3::after {
     content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent FireBrick;
}
.tooltip4{
    position: relative;
    display: inline-block;
   
}
.tooltip4 .tooltiptext4 {
    visibility:hidden;
    width: 350px;
    background-color: #B22222;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip4.tooltiptext4::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent FireBrick;
}

.tooltip5{
    position: relative;
    display: inline-block;
   
}
.tooltip5 .tooltiptext5{
    visibility:hidden;
    width: 350px;
    background-color: #B22222;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 110%;
}

.tooltip5.tooltiptext5::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent FireBrick;
}


 /*#fname
{
	background-image: url("fbwo.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  display:none;
  background-image
}*/

.tooltip2 {
    position: relative;
    display: inline-block;
    
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color:FireBrick ;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black FireBrick;
}

#pagal
{
	list-style-type:none;
	display:inline-block;
	margin:2px;
}
#label2
{
	    font-size: 36px;
		font-weight: bold;
}
#ul8
{
	list-style-type:none;
	display:inline-block;
	margin-left:0px;
}
#ul8 li
{
	display:inline-block;
	padding:5px;
}
#ul7
{
	list-style-type:none;
	margin-left:100px;
	
}
#label1
{
	color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
	    word-spacing: 5px;
		width:450px;
}
#fbmain
{
	/*margin-left:100px;
	margin-top:100px;*/
}
#part1
{
	float:left;
	height:100px;
	width:50%;
	
}
#part2
{
	
	height:100px;
	width:50%;
}
#part1,#part2
{
	display:inline-block;
}
#forgot
{
	margin-left:900px;
	color:#8b9dc3;
	text-decoration:none;
	margin-top:0px;
	font-size:14;
}
button
{
	background-color:#3b5998;
	color:white;
	text-decoration:none;
}
#ul3
{
	
	
}
#ul2
{
	/*float:right;*/
	
	
}
#ul3
{
	/*float:right;*/
	
}