.cont
{
background-color:#f7f7f7;
height:600px;
width:500px;


}
.ul1
{
	list-style-type:none;
	padding-left:150px;
}
.button
{
	background-color:yellow;
	border-radius:5px;
	color:black;
	width:290px;
}
.tex{
	
	font-size:11px;
}
.inpu
{
	 width:290px;
}
span
{
	
	color:red;
}