.header
{
	width:100%;
	background-color:#333;
	height:70px;
	
}
.head
{
	padding:30px;
    float:right;
	list-style-type:none;
     padding-top:0px;
	 padding-bottom:10px;
}
.head li
{
	display:inline-block;
}


#linklogo
{
	
	height:30px;
	width:150px;
	padding-top:20px;
	padding-left:250px;
	
}
.ul1
{
	margin:auto;
}
#forg
{
	float:right;
	color:white;
	padding:10px;
}
.middle
{
	background-color:#f7f7f7;
	height:430px;
	width:570px;
	margin:auto;
}
#foot{
	color:white;
}
.footer
{
	background-color:#333;
	height:100px;
	width:100%;
}



body
{
	
	margin:0px;
}
.section
{
	height:500px;
	width:100%;
	background-image:url('bg.png');
}