.div1
{
	margin:auto;
	height:500px;
	width:500px;
	background-color:#f7f7f7;
	margin-top:100px;
}
.sp
{
	float:right;
	border-bottom:solid;
	color:blue;
}

#sub
{
	float:right;
	padding-right:10px;
	margin-right:2px;
	padding:3px;
}
#it
{
	color:white;
}

#cen
{
	padding-top:130px;
}
.foot
{
	background-color:#333;
	height:40px;
	margin-bottom:0px;
	margin-top:170px;
}
#ul3,#ul4
{
	list-style-type:none;
	display:inline-block;
	padding:10px;
}
#ul3 li,#ul4 li{
	padding-top:5px;
	padding-left:5px;
}