.hea
{
	background-color:#f7f7f7;
	text-align:center;
	color:blue;
}
body
{
	margin:0px;
}
nav{
	
	padding:5px;
	height:50px;
    float:right;
	color:white;
	background-color:#400000 ;
	width:100%;
	
}
#cap
{
	
}
#as
{ 
	width:20%;
	height:300px;
	float:left;
	background-color:#f7f7f7;
	
}
pi
{
	color:maroon;
	
}
#sec
{
	width:80%;
	height:300px;
	background-color:#CC3300;
	
}
/*#art
{
	width:800px;
	height:300px;
	background-color:blue;
}*/
#ul1
{
	display:inline;
	list-style-type:none;
}
#foot{
	color:white;
	font-size:11;
}
#sec , #as{display:inline-block;}

#img1
{
	width:304;
	height:228;
	padding-top:10px;

}
#foot
{
	background-color:#400000;
	height:50px;
	margin-top:0px;
}
#fig
{
	float:left;
}
#fig1
{
	float:right;
}
.ul
{
	list-style-type:none;
	
}
#link
{
	color:white;
	text-decoration:none;
	padding:5px;
}
main
{    
     height:700px;
	 width:100%;
	
}