h1
{
	color:#0080ff;
	text-align: center;
}
table.t1
{
	margin:10px 200px 20px 200px;
	width:70%;
	text-indent:100px;
	
}
table.t2{
	margin:10px 300px 20px 300px;
	text-indent:100px;
}
.btn{
	width:200px;
	border-radius:5px;
	padding:20px;
	margin:30px 0px 30px 580px;
}
.box
{
	border-radius:5px;
    padding: 0px 5px 0px 5px;
    border: 1px solid navy;
    margin: 0px 5px 5px 5px;
}
.p1
{
	margin: 0px 5px 5px 5px;
}
#accordion-1{
	font-size: 5px;
}